name: Build project on push and pull request
on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: jorelali/setup-elm@v1
        with:
          elm-version: 0.19.1
      - run: ls -l && elm make
